<!-- Work In Progress -->
  <section class="py-5 bg-secondary m-0" id="wip">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 py-5">
          <h1 class="mb-4 text-white text-lead">Work In Progress</h1>
          <hr class="light"> </div>
        <div class="col-md-4 align-middle align-self-center">
          <img class="d-inlineblock mx-autob wip-image" src="{{ "/images/others/home-wip.png" | prepend: site.baseurl }}"> </div>
        <div class="col-md-8">
          <h4 class="text-white my-4 py-3"><i>
           {{ wip-title }}
          </i></h4>
          <p class="text-white mx-auto text-justify">
		  {{ wip-description }}
		  </p>
          <hr class="">
          <p class="text-white"> Follow the development </p>
          <div class="row">
            <div class="col-md-12 text-center align-self-center">
              <div class="my-3 row">
                <div class="col-4">
                  <a href="https://www.facebook.com/oddysseystudio/" target="_blank" class="social-icon" title="facebook"><i class="fa fa-3x fa-facebook"></i></a>
                </div>
                <div class="col-4">
                  <a href="https://twitter.com/OddysseyStudio" class="social-icon" target="_blank" title="twitter"><i class="fa fa-3x fa-twitter"></i></a>
                </div>
                <div class="col-4">
                  <a href="https://www.instagram.com/oddysseystudio/" target="_blank" class="social-icon" title="instagram"><i class="fa fa-3x fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
          <br> </div>
      </div>
    </div>
  </section>
