<!-- Our Team -->
  <section class="text-center bg-light py-5" id="team">
    <div class="container py-5">
      <div class="row p-0">
        <div class="col-md-12">
          <h1>Our Team</h1>
          <hr>
          <p class="lead">{{ team-description }}</p>
        </div>
      </div>
      <!-- First Row -->
      <div class="row">
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="{{ "/images/members/agc.jpg" | prepend: site.baseurl }}" width="280">
          <p class="my-0 py-2"><strong>Andrea Giuseppe Castriotta</strong>
            <br>Game Designer</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="{{ "/images/members/js.jpg" | prepend: site.baseurl }}" width="280">
          <p class="py-2"><b>Jami Salati</b>
            <br>Game Designer</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="{{ "/images/members/gs.jpg" | prepend: site.baseurl }}" width="280">
          <p class="py-2"><b class="py-2">Giorgio Saffirio</b>
            <br>Software Developer</p>
        </div>
      </div>
      <!-- 2nd Row -->
      <div class="row">
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="{{ "/images/members/gi.png" | prepend: site.baseurl }}" width="280">
          <p class="py-2"><b>Gianluca Ippolito</b>
            <br>Software Developer</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="{{ "/images/members/ea.png" | prepend: site.baseurl }}" width="280">
          <p class="py-2"><b>Erika Accossato</b>
            <br>UI designer</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="{{ "/images/members/cp.png" | prepend: site.baseurl }}" width="280">
          <p class="py-2"><b>Cecilia Petrucci</b>
            <br>Concept Artist</p>
        </div>
      </div>
    </div>
  </section>